.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #efefef;
}

.content .wrapper {
  padding: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
}
.options button {
  background-color: transparent;
  border: 2px solid #5f43b2;
  color: #5f43b2;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.items-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
}

.items-list .items-type {
  max-width: 100%;
}

.items-list .items-type .items-type-title {
  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.items-list .items-type .items-result {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.items-list .items-type .items-result .item-block {
  width: 164px;
  min-height: 164px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  /* border: 2px solid #5f43b2; */
  border: 2px solid #b1aebb;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 5px 5px 8px 5px;
}

.items-list .items-type .items-result .item-block .item-block-image {
  width: 110px;
  height: 110px;
}
.items-list .items-type .items-result .item-block a {
  color: #efefef;
  text-decoration: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  margin-bottom: 3px;
}
