@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #010101;
  min-height: 100vh;
}
